<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('bootstrap') %>  
    <title>ABS | Anti Bullying System</title>
</head>
<body>
    <%- include('navbar') %>  
    <div class="container">
        <div class="row justify-content-center">
            
            <div class="col-12 text-center m-5">
                <img src="img/abs.png" class="img-thumbnail rounded-circle shadow my-4" style="width: 150px;" alt="">
                <h1 class="fw-bold my-3">
                    Contact Developer <span class="text-primary">A</span><span class="text-warning">B</span><span class="text-danger">S</span>
                </h1>
                <p>Sekolah tenang tanpa perundungan</p>
            </div>
            
            <div class="col-10 col-md-7 text-start shadow bg-white rounded-3 mb-5 my-2">
                <div class="m-3">
                    <h3 id="carakerja" class="fw-bold">Contact Developer</h3>
                    <p>
                        <i class="bi bi-envelope-fill"></i> Email : marufilyasa13@gmail.com
                        <br>
                        <i class="bi bi-telegram"></i> Telegram : <a href="https://t.me/maruyasa">Click me</a>
                    </p>
                </div>
            </div>


        </div>
    </div>

</body>
</html>