<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sekolah tenang bebas perundungan, laporkan tindakan perundungan / bullying disini ">
    <%- include('bootstrap') %>  
    <title>ABS | Anti Bullying System</title>
</head>
<body>
    <%- include('navbar') %>  
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center m-5">
                <img src="img/abs.png" class="img-thumbnail rounded-circle shadow my-4" style="width: 150px;" alt="">
                <h1 class="fw-bold my-3">
                    Selamat datang <span class="text-primary">A</span><span class="text-warning">B</span><span class="text-danger">S</span>
                </h1>
                <p>Sekolah tenang tanpa perundungan</p>
                <a href="/lapor" class="btn btn-primary rounded-pill my-3 shadow fw-bold btn-lg">Lapor</a>
            </div>
            <div class="col-10 col-md-7 text-start shadow bg-white rounded-3 mb-5">
                <div class="m-3">
                    <h3 class="fw-bold">Apa itu ABS?</h3>
                    <p class="">
                        ABS adalah Anti Bullying System, system dimana kamu bisa lapor terhadap perundungan yang terjadi terhadap kamu atau temanmu
                    </p>
                    <hr>
                    <h3 class="fw-bold">Apakah data di ABS aman?</h3>
                    <p>
                        ABS menawarkan sebuah privasi kepada penguna, bila penguna di ancam oleh oknum pembully maka ABS menyediakan ruang privasi untuk melapor
                    </p>
                    <hr>
                    <h3 class="fw-bold">Mengapa menciptakan ABS?</h3>
                    <p>
                        Perundungan adalah sebuah hal yang melanggar, dan biasanya korban perundungan akan takut untuk melaporkan entah di ancam atau mentalnya belum kuat untuk melapor, 
                        nah ABS hadir untuk mereka yang takut melapor karena diancam oleh oknum perundung atau karena hal lain
                    </p>
                </div>
            </div>

            <div class="col-10 col-md-7 text-start shadow bg-white rounded-3 mb-5">
                <div class="m-3">
                    <h3 id="carakerja" class="fw-bold">Cara kerja ABS?</h3>
                    <div class="text-center my-3">
                        <p class="text-start">
                            <b>1.</b> Pelapor akan melaporkan di form yang sudah disediakan, dan mengisi beberapa pertanyaan singkat
                        </p>
                        <img src="img/1.jpg" class="img-thumbnail" style="width: 250px;" alt="">
                    </div>
                    <hr>
                    <div class="text-center my-3">
                        <p class="text-start">
                            <b>2.</b> ABS akan otomatis menghubungi orang-orang yang menangani hal seperti ini via bot Telegram
                        </p>
                        <img src="img/2.jpg" class="img-thumbnail" style="width: 250px;" alt="">
                    </div>
                    <hr>
                    <div class="text-center my-3 mb-5">
                        <p class="text-start">
                            <b>3.</b> Kasus yang masuk akan di tangani oleh orang-orang yang menangani hal tersebut sesuai asal sekolah
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>

</body>
</html>